In [2]:

import sqlite3
from pprint import pprint
from time import time

sqlite_file = 'priyanka.db'    #the name of my sqlite database file

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()



# Count the number of rows in 'nodes_tags'
query = '''SELECT COUNT(*) as count  FROM nodes_tags '''

# execute the query
results = c.execute(query) 

# print the results
print list(results)

[(315031,)]

In [3]:
# Count the number of rows in 'WAYS'

query = '''SELECT COUNT(*) as count  FROM ways '''

# execute the query
results = c.execute(query) 

# print the results
print list(results)

[(666406,)]

In [4]:
# Count the number of different denominations in 'nodes_tags'
query = '''select value, count(*) as num from nodes_tags where key="denomination"\
                    group by value \
                    order by num desc'''

results = c.execute(query)

for r in results: 
    print r

(u'baptist', 95)
(u'methodist', 28)
(u'lutheran', 21)
(u'catholic', 18)
(u'presbyterian', 17)
(u'pentecostal', 13)
(u'mormon', 5)
(u'seventh_day_adventist', 4)
(u'anglican', 2)
(u'episcopal', 2)
(u'jehovahs_witness', 2)
(u'protestant', 2)
(u'roman_catholic', 2)
(u'ahmadiyya', 1)
(u'apostolic', 1)
(u'latter_day_saints', 1)
(u'nazarene', 1)
(u'nyingma', 1)
(u'quaker', 1)

In [5]:

#I would like to find out the neighborhoods where i can find the'italian' cuisine. 
#Using postal codes 
#The following  query does it:


def postcodes_for_cuisine(cuisine):
    query = "select nodes_tags.value, count(*) as num \
    from nodes_tags \
    join (select distinct(id) from nodes_tags where key='cuisine' and value = {}) as subq \
    on nodes_tags.id = subq.id \
    where nodes_tags.key ='postcode' \
    group by nodes_tags.value \
    order by num desc;".format(cuisine)
    
    results = c.execute(query).fetchall()
    return results

postcodes_for_cuisine(" 'italian' ")

[(u'78640', 1), (u'78750', 1), (u'78751', 1), (u'78759', 1)]

In [6]:
#The following Query is continuation to the above Query 
#It wil print all the 'italian' cuisines with out the postal code 

def id_wo_postcodes_for_cuisine(cuisine):
    query = "select nodes_tags.id, nodes_tags.value \
    from nodes_tags \
    where  nodes_tags.id not in (select distinct(id) from nodes_tags where key ='postcode') \
    and nodes_tags.key='cuisine' and nodes_tags.value = {}".format(cuisine)
    
    results = c.execute(query).fetchall()
    return results

id_wo_postcodes_for_cuisine("'italian'")

[(564145569, u'italian'),
 (599493162, u'italian'),
 (919340319, u'italian'),
 (1226387114, u'italian'),
 (1249567872, u'italian'),
 (1483931096, u'italian'),
 (1551323129, u'italian'),
 (1707739585, u'italian'),
 (1792530205, u'italian'),
 (3181872974, u'italian'),
 (3245054363, u'italian'),
 (3248316799, u'italian')]

In [7]:
#I am trying to get the numbers of churches by denomination
result = c.execute('''select value, COUNT(nodes_tags.id) as num, \
(COUNT(nodes_tags.id)*1.0)/(SELECT COUNT(DISTINCT(id)) FROM nodes_tags WHERE value='place_of_worship') as perc from nodes_tags \
JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='place_of_worship') i \
ON nodes_tags.id=i.id \
WHERE nodes_tags.key='denomination' \
GROUP BY nodes_tags.value;''')


for i in result: 
    print i

(u'ahmadiyya', 1, 0.002380952380952381)
(u'anglican', 2, 0.004761904761904762)
(u'apostolic', 1, 0.002380952380952381)
(u'baptist', 94, 0.22380952380952382)
(u'catholic', 18, 0.04285714285714286)
(u'episcopal', 2, 0.004761904761904762)
(u'jehovahs_witness', 2, 0.004761904761904762)
(u'latter_day_saints', 1, 0.002380952380952381)
(u'lutheran', 21, 0.05)
(u'methodist', 28, 0.06666666666666667)
(u'mormon', 5, 0.011904761904761904)
(u'nazarene', 1, 0.002380952380952381)
(u'nyingma', 1, 0.002380952380952381)
(u'pentecostal', 12, 0.02857142857142857)
(u'presbyterian', 17, 0.04047619047619048)
(u'protestant', 2, 0.004761904761904762)
(u'quaker', 1, 0.002380952380952381)
(u'roman_catholic', 2, 0.004761904761904762)
(u'seventh_day_adventist', 4, 0.009523809523809525)